
.trip h2{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: center;
	margin-bottom: 20px;

}
.line{
    border-bottom: 5px solid #5EB6DD;
    width: 10%;
    margin-left: 45%;
    margin-bottom: 26px;
}

.ship{
    justify-content: space-between;
    align-items: center;
}@media (min-width:480px) and (max-width:1000px) {
    .row{
        display: inline !important;
    }
}

.imageAbout{
    margin-left: -2%;

}


.shipDesc{
    width: 600px;
    height: 310px;
}

.shipTitle{
    text-align: center;
    margin-bottom: 6%;
    margin-top: 5%;
    font-family: 'Noto Serif', serif;
}

.shipPar{
    text-align: center;
}

.Shipbtn{
    text-align: center;
    margin-top: 6%;

}
.Shipbtn a{
	background-color: white;
	color: #5EB6DD !important;
    margin-bottom: 6%;
}.Shipbtn a:hover{
    color: white !important;
    background-color: #5EB6DD !important;
}

.imgBords img{
    margin-left: 20%;
    margin-top: 2%;
}
.titleShip h4{
    text-align: center;
    font-family: 'Noto Serif', serif;
    margin-top: 3%;
}
.linee{
    border-bottom: 3px solid #5EB6DD;
    width: 10%;
    margin-left: 45%;
    margin-bottom: 26px;
}

.discBoard{
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 5%;
}
.textDesc{
    width: 60%;
}
.formilaireCustomaze{
    width: 90%;
    margin-left: 5%;
    background-color: #053742;
    height: 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(197, 197, 197);
    margin-bottom: 4%;
    padding: 3%;
}

.inputsForm input{
    width: 30%;
    height: 40px;
    border-radius: 7px;
}

.rowform1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 11%;
    margin-bottom: 1%;
}
.rowform2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 11%;
    margin-bottom: 1%;
}

.rowform3 textarea{
    height: 58px;
    width: 68%;
    margin-left: 15%;
    border-radius: 9px;
}

.btnForm{
    text-align: center;
    margin-top: 2%;

}
.btnForm a{
	background-color: white;
	color: #5EB6DD !important;
}.btnForm a:hover{
    color: white !important;
    background-color: #5EB6DD;
}

.select{
    text-align: center;
}
.select select{
    width: 15%;
    margin-bottom: 1%;
    height: 40px;
    border-radius: 7px;
}
