@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

/*------------------- navbar------------------------  */
body{
	font-family: 'Varela Round', sans-serif;
    margin: 0%;
}
.form-inline {
	display: inline-block;
}
.navbar-header.col {
	padding: 0 !important;
}	
.navbar {	
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link {
	margin: 0 5px;
    color: black !important;
    font-weight: 100;
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: rgb(0, 0, 0);
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
	font-family: 'Raleway', sans-serif;
}
.navbar .navbar-brand b {
	font-weight: bold;
	color: #5EB6DD;
}
.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
	color: #5EB6DD !important;

}
.navbar .navbar-nav a.active, .navbar .navbar-nav a.active:hover {
	color: #5EB6DD !important;
	background: transparent !important;
}
.search-box {
	position: relative;
}	
.search-box input.form-control {		
	padding-right: 35px;
	border-radius: 0;
	padding-left: 0;
	border-width: 0 0 1px 0;
	box-shadow: none;
}
.search-box input.form-control:focus {		
	border-color: #5EB6DD;		
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px 0 7px 7px;
	height: 100%;
}

.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .nav-item.show > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: rgb(0, 0, 0);
	padding: 8px 20px;
	line-height: normal;
	font-size: 15px;
}
.navbar .navbar-form {
	margin-right: 0;
	margin-left: 0;
	border: 0;
}

.navbar-nav{
    margin-left: 25%;
}
@media (min-width: 992px){
	.form-inline .input-group {
		width: 250px;
		margin-right: 30px;
	}
}
@media (max-width: 991px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.input-group {
		width: 100%;
	}
}

/*--------------------- body ---------------------------*/


/*-------------- header page home--------------------- */

.img-home img{
    filter: drop-shadow(0px 9px 15px #8a8a8a);
    position: absolute;
}

.text h3{
    position: relative;
    margin-top: 14.5%;
    font-size: x-large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 38px;
    margin-left: 2.7%;
}@media (min-width:480px) and (max-width:700px){
    .text h3{
        font-size: large;
        line-height: 20px;
    }
}

.reservation{
    position: relative;
    margin-left: 3%;
}

.but-now{
    background-color: red;
    width: 108px;
    height: 29px;
    border-radius: 10px;
    
}.but-now:hover{
    background-color: crimson;
}

.learn-more{
    background-color: #5EB6DD;
}.learn-more:hover{
    background-color: rgb(0, 163, 163);
}
@media (min-width:480px) and (max-width:700px){
    .btn{
        font-size: small;
    }
}


/* -----------------------About-us -----------------------*/
 .avantage{
    margin-left: 10%;
    margin-right: 15%;
     margin-top: 23%;
    margin-bottom: 5%; 
}
.icons{
    width: 70px;
}
.icons h2{
    margin-left: 4%;
    font-size: medium;
    text-align: center;
}.icons  img{
    margin-left: 45%;
}.icons p{
    font-size: small;
    text-align: center;
    margin-left: 3%;
}@media (min-width:480px) and (max-width:900px){
    .container{
        display: block;
    }
    .icons{
        width: 100%;
    }
    .icons h2{
        margin-left: 10%;
        font-size: medium;
        text-align: center;
    }.icons  img{
        margin-left: 45%;
        
    }.icons p{
        font-size: small;
        text-align: center;
        margin-left: 10%;
    }
}

/* ----------reservation--------------- */

.trip h2{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: center;
	margin-bottom: 20px;

}
.line{
    border-bottom: 5px solid #5EB6DD;
    width: 10%;
    margin-left: 45%;
    margin-bottom: 26px;
}

a {
    color: #363636;
}a:hover{
	color: white;
}
.btns {
    background: #5EB6DD;
	color: white;
	text-align: center;
    margin: 3px;
    border-radius: 0px;
}
.tourbtn{
	margin-left: 8%;
}
.btns:hover {
    background: #005d85;
	color: white;
}
.tours {
  display: flex;
  padding: 0;
  flex-flow: row wrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
}
.tours > .tourcard {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  flex: 0 1 360px;
  margin: 15px;
  padding: 0;
}
.tours > .tourcard:hover {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
  cursor: pointer;
}
.tours > .tourcard .tipsinfo {
    margin: 0;
    padding: 0;
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100%;
}
.tourpic {
  background: #444;
  position: relative;
}
.tourbtn {
    margin: 0;
    padding: 0;
}
.tourbtn:after {
    clear: both;
}
.tours > .tourcard .tipsinfo .tourpic img {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;    
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: .70;
}
.tours > .tourcard:hover .tipsinfo .tourpic img {
    opacity: 0.9;
}
.tours > .tourcard .tipsinfo .tourpic .tourcat {
  color: #fff;
  font-size: .8em;
  padding: 3px 5px;
  position: absolute;
  right: 15px;
  text-transform: uppercase;
  bottom: 15px;
}
 .tours>.tourcard .tipsinfo .tourpic .tourday {
  text-transform: uppercase;
  color: #fff;
  font-size: .8em;
  position: absolute;
  left: 15px;
  bottom: 15px;
  padding: 3px 5px; 
}
.tours > .tourcard .tipsinfo .tourpic .tourday.hot {
  background: red;
}


.tours > .tourcard .tipsinfo .infoHover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  margin: 0 0 30px;
  display: flex;
  flex-flow: column nowrap;
  color: white;
}
.infoHover h3 a {
    text-decoration: none;
    color: white;
}
.description {
    opacity: 0;
    display: none;
}
.tourprice {
    opacity: 0;
    display: none;
    font-size: .8em;
}
.currency {
    font-weight: 300;
}
.price {
    font-size: 2em;
    font-weight: 300;
}
.tourcard:hover .tipsinfo .infoHover .description,
.tourcard:hover .tipsinfo .infoHover .tourprice {
    display: block;
    opacity: 1;
}

.trips{
	width: 100%;
	padding: 0%;
	margin-bottom: 3%;
}

/* blog */

.pad0
{
padding:0px;
}
.bg_black{
background:#000;
}
.block-blog {
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(226, 223, 223, 0.61);
}
.transperent_block {
	padding: 0px;
	position: relative;
	overflow: hidden;
	height: 250px;
}
.transperent_block img {
width:100%;
	height: 100%;
}
.transperent_block:hover .black_hover_block {
	opacity: 1;
	transform: translateY(-150px);
	-webkit-transform: translateY(-150px);
	-moz-transform: translateY(-150px);
	-ms-transform: translateY(-150px);
	-o-transform: translateY(-150px);
}
.transperent_block img {
	z-index: 4;
}
.transperent_block .black_hover_block {
	position: absolute;
	bottom: 3%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 100%;
}
.transperent_block:hover .black_hover_block, .black_hover_block:hover {
	bottom: 30%;
	transition: all 0.3s ease-in-out;
}
.transperent_block .blur {
	background-color: rgba(0,0,0,0.7);
	height: 400px;
	z-index: 5;
	position: absolute;
	width: 100%;
}
.transperent_block .black_hover_block_text {
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 400px;
	text-align: center;
	top: -20px;
	width: 100%;
	
}
	.block_header{
		margin-top:5px;}
		.black_hover_block_text i:hover {
    color: #77132f;
}
.black_hover_block_text i {
    padding: 10px 10px;
    font-size: 18px;
    color: #fff;
}
.black_hover_block_text i:hover {
color:#ffffffa6}

.black_hover_block_text:hover .titl-h5 {
    background-color: rgba(119, 19, 47, 0.60);
}
.titl-h5 {
    border-top: 2px solid #77132f;
    border-bottom: 2px solid #77132f;
    padding: 10px;
    margin-top: 0px;
    line-height: 20px;
	text-transform:uppercase;
}
.btn-pink {
    background-color: #77132f;
    color: #fff;
    border: 4px solid #77132f;
}
.btn-pink:hover{
color: #fff;
    background-color: #6f0f2a9e;
    border: 4px solid #6f0f2a4e;
}
.btn-sm {
    margin-top: 10px;
}
.black_hover_block_text li:hover {
    background-color: #77132f;
    cursor: pointer;
    color: #fff;
    width: 33.34%;
}
.black_hover_block_text li {
    list-style: none;
    border: none !important;
}
	

