
.article{
    width: 80%;
    margin: 4%;
    left: 4%;
    height: 50%;
}
.article h2{
    text-align: center;
    margin-bottom: 5%;
}
.col-md-12{
    padding:5%;
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    flex: 0 0 80%;

}
.create-form label{
    font-weight:600;
}
.create-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
}
