/*------------------ sidebar ------------*/
body{
    margin: 0%;
    padding: 0%;
    display: flex;
    background-color: rgb(240, 240, 240);

}

/* ---------------sidebar --------------------*/
.logo{
    margin-top: 60%;
    padding-left: 5%;
}
.main-menu{
    background-color: rgb(2, 109, 158);
    width: 70px;
    height: 759px;
}

li{
    list-style-type: none; 
	height: 43px;
}

.menulist{
    margin-top: 160px;
    padding-left: 30%;
    height: 300px;
}
.logout{
    margin-top: 150px;
    padding-left: 30%;
}
.menulist li a{
    margin-top: 10%;
}
.menulist li a i{
    color: white;
    text-align: center;
    margin-top: 24%;
    font-size: x-large;
}.menulist li a i:hover{
    font-size: xx-large;
	color: white;
}


.logout li a i{
    color: white;
    font-size: x-large;
    background-color: #026d9e;
}.logout li a i:hover{
    font-size: xx-large;
	color: white;
}


/* table for all page */
.table-responsive {
    margin: 30px;
}
.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	/* min-width: 1000px; */
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
	padding-bottom: 15px;
	background: #026d9e;
	color: #fff;
	padding: 16px 30px;
	/* min-width: 100%; */
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
.table-title .btn-group {
	float: right;
}
.table-title .btn {
	color: #fff;
	float: right;
	border: none;
	/* min-width: 50px; */
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}

.tableShap tr td {
	border-color: #e9e9e9;
	padding: 7px 7px;
	vertical-align: middle;
}

table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}

/*---------------- navCount--------------- */


.countContainer {
    margin-top: 3%
}

.counter-box {
    display: block;
    background: #026d9e;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: white;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: white;
}

.counter {
    display: block;
    font-size: 32px;
    color: white;
    font-weight: 700;
    line-height: 28px

}

.counter-box.colored {
    background: #026d9e
}

