@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

/*------------------- navbar------------------------  */
body{
	font-family: 'Varela Round', sans-serif;
    margin: 0%;
}
.form-inline {
	display: inline-block;
}
.navbar-header.col {
	padding: 0 !important;
}	
.navbar {	
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link {
	margin: 0 5px;
    color: black !important;
    font-weight: 100;
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: rgb(0, 0, 0);
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
	font-family: 'Noto Serif', serif;
}
.navbar .navbar-brand b {
	font-weight: bold;
	color: #5EB6DD;
}
.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
	color: #5EB6DD !important;

}
.navbar .navbar-nav a.active, .navbar .navbar-nav a.active:hover {
	color: #5EB6DD !important;
	background: transparent !important;
}
.search-box {
	position: relative;
}	
.search-box input.form-control {		
	padding-right: 35px;
	border-radius: 0;
	padding-left: 0;
	border-width: 0 0 1px 0;
	box-shadow: none;
}
.search-box input.form-control:focus {		
	border-color: #5EB6DD;		
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px 0 7px 7px;
	height: 100%;
}

.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .nav-item.show > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: rgb(0, 0, 0);
	padding: 8px 20px;
	line-height: normal;
	font-size: 15px;
}
.navbar .navbar-form {
	margin-right: 0;
	margin-left: 0;
	border: 0;
}

.navbar-nav{
    margin-left: 25%;
}
@media (min-width: 992px){
	.form-inline .input-group {
		width: 250px;
		margin-right: 30px;
	}
}
@media (max-width: 991px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.input-group {
		width: 100%;
	}
}

/*--------------------- body ---------------------------*/


/*-------------- header page home--------------------- */

.img-home img{
    filter: drop-shadow(0px 9px 15px #8a8a8a);
    position: absolute;
}

.text h3{
    position: relative;
    margin-top: 14.5%;
    font-size: x-large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 38px;
    margin-left: 2.7%;
}@media (min-width:480px) and (max-width:700px){
    .text h3{
        font-size: large;
        line-height: 20px;
    }
}

.reservation{
    position: relative;
    margin-left: 3%;
}



@media (min-width:480px) and (max-width:700px){
    .btn{
        font-size: small;
    }
}

/* -----------------------avantage -----------------------*/
.avantage{
    margin-left: 10%;
    margin-right: 15%;
     margin-top: 23%;
    margin-bottom: 5%; 
}
.icons{
    width: 70px;
}
.icons h2{
    margin-left: 4%;
    font-size: medium;
    text-align: center;
}.icons  img{
    margin-left: 45%;
}.icons p{
    font-size: small;
    text-align: center;
    margin-left: 3%;
}@media (min-width:480px) and (max-width:900px){
    .container{
        display: block;
    }
    .icons{
        width: 100%;
    }
    .icons h2{
        margin-left: 10%;
        font-size: medium;
        text-align: center;
    }.icons  img{
        margin-left: 45%;
        
    }.icons p{
        font-size: small;
        text-align: center;
        margin-left: 10%;
    }
}

/*--------------- trips---------------- */

.trip h2{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: center;
	margin-bottom: 20px;

}
.line{
    border-bottom: 5px solid #5EB6DD;
    width: 10%;
    margin-left: 45%;
    margin-bottom: 26px;
}


.Contrip{
    margin-bottom: 2%;

}
.card {
    padding: 0;
    border: none;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size:  16px;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    width: 100%;
    height: 200px;
}

.card-title {
    font-weight: 600;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}
.seeMore{
    margin-top: 3%;
}

/*------------------ blog -------------------*/

.card-box {
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;
    margin-bottom: 30px;
    float: left;
    border-radius: 10px;
}
.card-box .card-thumbnail {
    max-height: 150px;
    overflow: hidden;
    border-radius: 10px;
}

.card-box h3 a {
    font-size: 20px;
    text-decoration: none;
}

/*---------------- Surfboard Ship & About Us & ship page ----------------*/


.ship{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}@media (min-width:480px) and (max-width:1000px) {
    .row2{
        display: inline !important;
    }
}

.shipDesc{
    width: 600px;
    height: 310px;
}

.shipTitle{
    text-align: center;
    margin-bottom: 6%;
    margin-top: 5%;
    font-family: 'Noto Serif', serif;
}

.shipPar{
    text-align: center;
}

.Shipbtn{
    text-align: center;
    margin-top: 6%;

}
.Shipbtn a{
	background-color: white;
	color: #5EB6DD !important;
    margin-bottom: 6%;
}.Shipbtn a:hover{
    color: white !important;
    background-color: #5EB6DD !important;
}

.imgBords img{
    margin-left: 20%;
    margin-bottom: 4%;
}


.discBoard{
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 5%;
}
.textDesc{
    width: 60%;
}

.img2{
    margin-left: 5px;
}

/*--------- formulaire de shap ----------*/
.titleShip h4{
    text-align: center;
    font-family: 'Noto Serif', serif;
    margin-top: 3%;
}
.formilaireCustomaze{
    width: 90%;
    margin-left: 5%;
    background-color: #053742;
    height: 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(197, 197, 197);
    margin-bottom: 4%;
    padding: 3%;
}

.inputsForm input{
    width: 250px;
    height: 40px;
    border-radius: 7px;
}

.rowform1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 11%;
    margin-bottom: 1%;
}
.rowform2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 11%;
    margin-bottom: 1%;
}

.rowform3 textarea{
    height: 58px;
    width: 68%;
    margin-left: 15%;
    border-radius: 9px;
}

.btnForm{
    text-align: center;
    margin-top: 2%;

}
.btnForm a{
	background-color: white;
	color: #5EB6DD !important;
}.btnForm a:hover{
    color: white !important;
    background-color: #5EB6DD;
}

.select{
    text-align: center;
}
.select select{
    width: 15%;
    margin-bottom: 1%;
    height: 40px;
    border-radius: 7px;
}@media (min-width:480px) and (max-width:1000px) {
    .rowform1{
        display: inline;
        margin-left: 0;
    }
    .inputsForm input{
        width:100%;
        margin-top: 2%;
    }
    .rowform2{
        display: inline;
        margin-left: 0;
    }
    .select{
        text-align: left;
    }
    .select select{
        width: 100%;
    }
    .rowform3 textarea{
        height: 58px;
        width: 100%;
        margin-left: 0;
        border-radius: 9px;
        margin-top: 2%;
    }
    
}
/*---------- footer ------------*/
footer{
    background-color: #5EB6DD;
    color: white;
    padding: 3%;

}
.icon{
    margin-left: 18%;
}
ul, li {
    padding: 0px;
    list-style: none;
    margin-left: 10px;
}

.Newsletter{
    height: 37px;
    width: 40%;
    border: none;
    margin-left: 40%;
}@media (min-width:480px) and (max-width:760px) {
    .Newsletter{
        margin-left: 20%;
        height: 37px;
        width: 40%;
    }
    .icon{
        margin-left: 23%;
    }
}


/* plan hotel information page */
.hotelPhoto{
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    align-items: center;
    margin: 3% 5% 5% 5%;
}
.hotelPhoto::-webkit-scrollbar {
    width: 10px;
}

.hotelPhoto::-webkit-scrollbar-thumb {
    background: #17a2b8;
    border-radius: 10px;
}
.hotelPhoto img{
    height: 200px;
    width: 300px;
    margin-left: 3%;
}

.informationHotel {
    color: #17a2b8!important;
    font-family: 'Noto Serif', serif;
}

/* table  */

.table-wrapper {
    margin-top: 3%;
	background: #fff;
	padding: 20px 12px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title {        
	padding-bottom: 15px;
	background: #17a2b8;
	color: #fff;
	padding: 16px 12px;
	min-width: 100%;
	margin: -20px -21px 10px;
	border-radius: 3px 3px 0 0;
}

.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}

table.table-striped tbody tr{
	background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}

/*----------- contact  ----------*/

.contact h2{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 2.2rem;
    color: #003952;
    line-height: 3rem;
    text-align: center;
	margin-bottom: 20px;

}
.Contactline{
    border-bottom: 5px solid #003952;
    width: 10%;
    margin-left: 45%;
    margin-bottom: 26px;
}

.Contact {
    background-image: url(/image/panorama.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.;
    margin-top: 90px;
    margin: 90px;
    padding: 30px 0px 30px 0px;
    min-height: 450px;
    }



.form-control {
   border-radius: 7px;
   margin-bottom: 8px;
}

.textarea {
    width: 100%;
    height: auto;
    padding-left: 10px;
    border: none;
    border-radius: 7px;
    min-height: 150px;
    margin-bottom: 30px;
    margin-top: 0;
}
.send-btn{
    margin-left: 45%;
}

/* user page */
.card {
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
