@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

/*------------------- navbar------------------------  */
body{
	font-family: 'Varela Round', sans-serif;
    margin: 0%;
}
.form-inline {
	display: inline-block;
}
.navbar-header.col {
	padding: 0 !important;
}	
.navbar {	
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link {
	margin: 0 5px;
    color: black !important;
    font-weight: 100;
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: rgb(0, 0, 0);
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
	font-family: 'Raleway', sans-serif;
}
.navbar .navbar-brand b {
	font-weight: bold;
	color: #5EB6DD;
}
.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
	color: #5EB6DD !important;

}
.navbar .navbar-nav a.active, .navbar .navbar-nav a.active:hover {
	color: #5EB6DD !important;
	background: transparent !important;
}
.search-box {
	position: relative;
}	
.search-box input.form-control {		
	padding-right: 35px;
	border-radius: 0;
	padding-left: 0;
	border-width: 0 0 1px 0;
	box-shadow: none;
}
.search-box input.form-control:focus {		
	border-color: #5EB6DD;		
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px 0 7px 7px;
	height: 100%;
}

.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .nav-item.show > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: rgb(0, 0, 0);
	padding: 8px 20px;
	line-height: normal;
	font-size: 15px;
}
.navbar .navbar-form {
	margin-right: 0;
	margin-left: 0;
	border: 0;
}

.navbar-nav{
    margin-left: 25%;
}
@media (min-width: 992px){
	.form-inline .input-group {
		width: 250px;
		margin-right: 30px;
	}
}
@media (max-width: 991px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.input-group {
		width: 100%;
	}
}

/*--------------------- body ---------------------------*/


/*-------------- header page home--------------------- */

.img-home img{
    filter: drop-shadow(0px 9px 15px #8a8a8a);
    position: absolute;
}

.text h3{
    position: relative;
    margin-top: 14.5%;
    font-size: x-large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 38px;
    margin-left: 2.7%;
}

.reservation{
    position: relative;
    margin-top: 1%;
    margin-left: 3%;
}

.but-now{
    background-color: red;
    width: 108px;
    color: white;
    height: 29px;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: 600;  
}.but-now:hover{
    background-color: crimson;
}

.learn-more{
    background-color: #5EB6DD;
    width: 129px;
    color: white;
    height: 29px;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: 600;
    margin-left: 11px;
}.learn-more:hover{
    background-color: rgb(0, 163, 163);
}

/* -----------------------About-us -----------------------*/
.avantage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;

}.containericon{
    position: relative;
    margin-top: 28%;
    width: 212px;
    height: 230px;
}.containericon h2{
    margin-left: 4%;
    font-size: medium;
    text-align: center;
}.containericon img{
    margin-left: 33%;
}.containericon p{
    font-size: small;
    text-align: center;
}

/*--------------- trips---------------- */

.trip h2{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: center;
	margin-bottom: 20px;

}
.line{
    border-bottom: 5px solid #5EB6DD;
    width: 10%;
    margin-left: 45%;
    margin-bottom: 26px;
}
/* .row {
    margin-left: -95px;
    margin-right: -159px;
} */

.desc{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    z-index: 12;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.desc h3{
	color: #fff;
    margin: 0;
    padding: 0;
    opacity: 1;
    font-size: 30px;
    font-weight: 400;
    visibility: visible;
    margin-bottom: 5px;
	font-family: 'Noto Serif', serif;
}
.desc span{
	font-family: 'Noto Serif', serif;
	color: rgba(255, 255, 255, 0.9);
    margin-bottom: 5px;

}
 .price{
	font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.btn{
	opacity: 1;
    border: 2px solid #fff !important;
    color: #fff !important;
    letter-spacing: 1px !important;
	font-family: 'Noto Serif', serif;
    font-weight: 600 !important;
    margin-bottom: 10px;
}
.btn-outline {
    background: transparent;
    color: #5EB6DD;
    border: 2px solid #5EB6DD !important;
}.btn-outline:hover{
	background: #5EB6DD;
}
.btnSeeAll{
	background-color: white;
	color: #5EB6DD !important;
	margin-top: 2%;
    margin-bottom: 4%;
    margin-left: -5%;
}.btnSeeAll:hover{
	background-color: #5EB6DD;
	border: 1px solid white;
	color: white !important;
	font-family: 'Noto Serif', serif;
}

/* blog */

.containerBlog{
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;

}

.row2{
    width: 270px;
    background-color: #053742;
    border-radius: 8px;
    margin-bottom: 6%;
}

.row2 img{
    margin: 3%;
    border: 1px solid white;
    border-radius: 10px;
}

.row2 h3{
    text-align: center;
    font-size: x-large;
    color: white;
    font-family: 'Noto Serif', serif;

}
.row2 p{
    text-align: center;
    font-size: medium;
    color: white;

}


/*---------------- Surfboard ----------------*/

.ship{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 6%;

}

.shipDesc{
    width: 600px;
    height: 310px;
}

.shipTitle{
    text-align: center;
    margin-bottom: 6%;
    font-family: 'Noto Serif', serif;
}

.shipPar{
    text-align: center;
}

.Shipbtn{
    text-align: center;
    margin-top: 6%;

}
.Shipbtn a{
	background-color: white;
	color: #5EB6DD !important;
}.Shipbtn a:hover{
    color: white !important;
}



/*--------------- contact-------------- */

.containerContact{
    background: #053742;
    height: 200px;
    padding-top: 10px;
}
.contact h2{
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem;
	margin-bottom: 10px;
    color: white;
}

.linecontact{
    border-bottom: 5px solid #ffffff;
    width: 7%;
    margin-left: 46.5%;
    margin-bottom: 26px;
}

.contactDesc{
    display: flex;
    justify-content: space-around;
}

.imgContact img{
    margin-top: -20%;
}
.contactpar{
    margin-top: -2%;
}
.contactpar p{
    color: white;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
.contactbtn a{
    border: 1px solid white !important;
    width: 117px;
    height: 47px;
    align-items: center;
    text-align: center;
    margin-left: 35%;
}.contactbtn a:hover{
    background-color: #5EB6DD;
    color: white;
}

/*---------- footer ------------*/

.footer{
    display: flex;
    justify-content: space-around;
    /* margin-top: 5%; */
    padding:5% 3% 3% 5%;
    background-color: whitesmoke;
}
.footer img{
    margin-top: -10%;
    margin-left: -25%;
}
.footerEmail input{
    height: 41px;
    padding-top: 10px;
    margin-left: -6%;
    width: 280px;
    border: 1px solide #5EB6DD !important;
}
.footerEmail h4{
    font-family: 'Noto Serif', serif;
}
.footerEmail a{
    color: #5EB6DD !important;
}
.SocialMedia h4{
    text-align: center;
}
.SocialMediaicon{
    height: 50px;
    margin-top: 4%;
    margin-left: -11%;
}
.SocialMediaicon ul{
	text-align: center;
}

.SocialMediaicon ul li{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #5EB6DD;
}
.SocialMediaicon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}
.SocialMediaicon ul li a i{
    line-height: 40px;
    color: white;
}.SocialMediaicon ul li a i:hover{
    color: #5EB6DD;
}
.SocialMediaicon ul li:hover{
	background: white;
}
.SocialMedia h4{
    font-family: 'Noto Serif', serif;
}


/* blog */

.card-box {
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;
    margin-bottom: 30px;
    float: left;
    border-radius: 10px;
}
.card-box .card-thumbnail {
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    transition: 1s;
}
.card-box .card-thumbnail:hover {
    transform: scale(1.1);
}
.card-box h3 a {
    font-size: 20px;
    text-decoration: none;
}

/* plan */







