body{
    margin: 0%;
    padding: 0%;
    display: flex;
    background-color: rgb(240, 240, 240);
}


/* ---------------sidebar --------------------*/
.logo{
    margin-top: 60%;
    padding-left: 5%;
}
nav{
    background-color: rgb(2, 109, 158);
    width: 70px;
    height: 792px;
}

li{
    list-style-type: none; 
}

.menulist{
    margin-top: 160px;
    padding-left: 30%;

}
.logout{
    margin-top: 200px;
    padding-left: 30%;
}
.menulist li a{
    margin-top: 10%;
}
.menulist li a i{
    color: white;
    text-align: center;
    margin-top: 24%;
    font-size: x-large;
}.menulist li a i:hover{
    font-size: xx-large;
}


.logout li a i{
    color: white;
    font-size: x-large;
}.logout li a i:hover{
    font-size: xx-large;
}

